services:
  backend:
    build:
      context: .        
      dockerfile: backend/Dockerfile
    volumes:
      - ./shared:/app/shared   # bind mount for now. should use a volume later when shared data are updated at runtime
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .           
      dockerfile: frontend/Dockerfile
    volumes:
      - ./shared:/app/shared
    ports:
      - "3000:3000"
